.base {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  /* padding: 2rem; */
  text-align: center;
}

.typewriter {
  margin: 0 auto;
}

.typewriter h1 {
  color: #fff;
  overflow: hidden; 
  border-right: .15em solid #f1a414;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
    typing 1s steps(30, end),
    blink-caret 1s step-end infinite;
}


@media screen and (max-width: 750px) {
  .typewriter h1 {
    font-size: 2.8rem;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(241, 164, 20); }
} 