.base {
  height: 500px;
}

.tooltip {
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000;
  font-family: consolas;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}