.base {
  height: 500px;
}

.tooltip {
  position: absolute;
  background: #222;
  color: #fff;
  border-radius: 6px;
  padding: 8px;
  font-size: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  pointer-events: none;
  z-index: 9999;
  min-width: 120px;
  max-width: 220px;
  white-space: pre-line;
}

.tooltip strong {
  font-weight: bold;
  color: #e93f6c
}